html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #f0f0f0;
}
.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
/* header */
.navigation {
  margin-bottom: 80px;
}
.flex__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.imglogo__header {
  width: 139px;
  height: 18px;
  margin-left: 33px;
  margin-bottom: 3px;
}
.flex__nav-items {
  display: flex;
  gap: 58px;
  color: #1c1c1c;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 300;
  padding-left: 0;
  margin-left: 69px;
  margin-right: 10px;
}
.flex__nav-items a,
.flex__nav-items li {
  text-decoration: none;
  color: #1c1c1c;
  list-style: none;
}
.flex__nav-items li:hover {
  text-decoration-line: underline;
  color: #1c1c1c;
  text-underline-offset: 4px;
  font-weight: 700;
}
.flex__button {
  display: flex;
  margin-right: 34px;
}
.btn__signIn {
  background-color: #f0f0f0;
  border: none;
  color: #1c1c1c;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100px;
  height: 48px;
  padding-right: 17px;
}
.btn__signIn:hover {
  text-decoration-line: underline;
  color: #fff;
  background-color: #1c1c1c;
  text-underline-offset: 4px;
}
.btn__singUp {
  color: #1c1c1c;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 700;
  background-color: #f0f0f0;
  cursor: pointer;
  width: 100px;
  height: 48px;
  border: none;
}
.btn__singUp:hover {
  text-decoration-line: underline;
  color: #fff;
  background-color: #1c1c1c;
  text-underline-offset: 4px;
}
/* services */
.services {
  margin-bottom: 92px;
}
.h1__services {
  color: #1c1c1c;
  font-family: "Cabinet Grotesk";
  font-size: 62px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
.p__services {
  color: #5c5c5c;
  font-family: "Work Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  margin: 0 auto;
  text-align: center;
  max-width: 930px;
  margin-bottom: 36px;
}
.grid__services {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-left: 124px;
  margin-right: 102px;
  row-gap: 22px;
}
.grid-item {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid #1c1c1c;
  padding: 56px 23px 38px 23px;
  max-width: 358px;
  height: 412px;
  cursor: pointer;
}
.grid-item:hover {
  background-color: #1c1c1c;
}
.grid-item:hover .h2__services,
.grid-item:hover .p__grid {
  color: #fff;
}
.grid-item:hover img {
  filter: brightness(0) invert(1);
}
.ico__plumber {
  width: 116.036px;
  height: 122px;
  margin-bottom: 38px;
}
.h2__services {
  color: #5c5c5c;
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.p__grid {
  color: #5c5c5c;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin: 0;
}
.ico__painting {
  width: 122.106px;
  height: 122px;
  margin-bottom: 38px;
}
.ico__logistics {
  width: 122.105px;
  height: 122px;
  margin-bottom: 38px;
}
.ico__cleaning {
  width: 118.885px;
  height: 122px;
  margin-bottom: 37px;
}
.ico__furnitures {
  width: 118.051px;
  height: 122px;
  margin-bottom: 38px;
}
.ico__more {
  width: 122.812px;
  height: 122px;
  margin-bottom: 38px;
}
/* section */
.work {
}
.h2__work {
  color: #1c1c1c;
  font-family: "Cabinet Grotesk";
  font-size: 62px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.p__work {
  color: #5c5c5c;
  text-align: center;
  font-family: "Work Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  margin: 0 auto;
  margin-bottom: 42px;
  max-width: 930px;
}
.grid__work {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-left: 105px;
  margin-right: 102px;
}
.grid__item-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 686px;
}
.marketingBorder,
.freedomBorder {
  height: 632px;
}
.lookingBorder,
.marketingBorder {
  border-right: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}
.dedicatedBorder,
.freedomBorder {
  /* border-left: 2px solid #e0e0e0; */
  border-bottom: 2px solid #e0e0e0;
}
.tenantBorder {
  border-right: 2px solid #e0e0e0;
}
.img__item {
  margin-right: 0px;
  margin-bottom: 2px;
}
.imgMarketing,
.freedom,
.tenant,
.deal {
  margin-top: 70px;
}
.tenant,
.deal {
  margin-top: 71px;
}

.imgLooking,
.dedicated {
  margin-top: 97px;
}
.imgLooking,
.imgMarketing,
.tenant {
  margin-left: 6px;
}
.dedicated,
.freedom,
.deal {
  margin-right: 12px;
}
.h3__item {
  color: #1c1c1c;
  font-family: "Cabinet Grotesk";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
.p__item {
  color: #5c5c5c;
  text-align: center;
  font-family: "Work Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  margin: 0;
  width: 412px;
  height: 72px;
}

.deal-p {
  margin-right: 10px;
}
.deal-h3 {
  margin-right: 12px;
}
.tenant-p {
  margin-left: 4px;
}
.tenant-h3 {
  margin-left: 8px;
}
.freedom-p {
  margin-right: 10px;
}
.freedom-h3 {
  margin-right: 12px;
}
.marketing-p {
  margin-left: 4px;
}
.marketing-h3 {
  margin-left: 4px;
}
.dedicated-p {
  margin-right: 10px;
}
.dedicated-h3 {
  margin-right: 12px;
}
.looking-p {
  margin-left: 4px;
}
.looking-h3 {
  margin-left: 4px;
}
